extends layout

block layout-content
  h1.Banner Conquer Any Terrain with Adidas Predator AG Boots: Agility, Grip, Domination.
  div.View.image-containerView
    img(src="https://1fabucket.s3.ap-south-1.amazonaws.com/Predator_AG.png" alt="Predator AG" class="boot-img")
    div.Title
      h3 Footballing Excellence
      h1 Timeless icon of adidas style
      span.text ₹1800
    div.NavButtons
      a(href="/Order")
        div.NavButton
          span Buy Now