extends layout

block layout-content
  h1.Banner Conquer Any Terrain with Adidas Predator AG Boots: Agility, Grip, Domination.
  div.View.image-containerView
    img(src="/images/Predator_AG.png" alt="Predator AG")
    p.text ₹2520
