extends layout

block layout-content
  h1.Banner Dominate the Pitch in Adidas Predator FG Boots: Engineered for Control, Crafted for Victory.
  div.View.image-containerView
    img(src="https://1fabucket.s3.ap-south-1.amazonaws.com/Predator_FG.png" alt="Predator FG" class="boot-img")
    div.Title
      h3 Footballing Excellence
      h1 Timeless icon of adidas style
      span.text ₹1800
    div.NavButtons
      a(href="/Order")
        div.NavButton
          span Buy Now