extends layout

block layout-content
  h1.Banner Select the type of ground you play on
  div.View.FGView
    div.NavButtons
      a(href="/FG")
        div.NavButton
          span Football Ground

  div.View.AGView
    div.NavButtons
      a(href="/AG")
        div.NavButton
          span Artificial Ground
