extends layout

block layout-content
  div.View.WelcomeView
    h1.Banner Adidas
    div.Message
      div.Title
        h3 Footballing Excellence
        h1 Timeless icon of adidas style
      span.Details Grab a pair in your size today
    div.NavButtons
      a(href="/user")
        div.NavButton Discover Predator
      a(href="/orders")
        div.NavButton View Orders
      a(href="/logout")
        div.NavButton Logout
