extends layout

block layout-content
  div.View.OrderView
    h1.Banner Order Details

    //- Flex container for form, product image, and estimated delivery + map
    div.OrderContainer
      div.Message2
        form(action="/order", method="POST")
          div.FormGroup
            label(for="name") Name
            input(type="text", id="name", name="name", required)
          div.FormGroup
            label(for="email") Email
            input(type="email", id="email", name="email", required)
          div.FormGroup
            label(for="phone") Phone Number
            input(type="tel", id="phone", name="phone", pattern="[0-9]{10}", required)
          div.FormGroup
            label(for="address1") Address Line 1
            input(type="text", id="address1", name="address1", required)
          div.FormGroup
            label(for="address2") Address Line 2
            input(type="text", id="address2", name="address2")
          div.FormGroup
            label(for="city") City
            input(type="text", id="city", name="city", required)
          div.FormGroup
            label(for="state") State
            input(type="text", id="state", name="state", required)
          button(type="submit") Place Order

      //- Product image section
      div.ProductImage
        img(src="https://1fabucket.s3.ap-south-1.amazonaws.com/boots.jpg" alt="Boots to be Ordered")

      //- Container for Estimated Delivery and Map (stacked vertically)
      div.DeliveryMapContainer
        //- Estimated Delivery section
        div.EstimatedDelivery
          - var today = new Date()
          - var deliveryDate = new Date(today.setDate(today.getDate() + 7))
          - var options = { year: 'numeric', month: 'long', day: 'numeric' }
          h2 Estimated Delivery Date: #{deliveryDate.toLocaleDateString('en-US', options)}

        //- Map section
        div.MapSection
          h3 Map
          iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d30773484.55170563!2d61.02451656116589!3d19.69009515037612!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30635ff06b92b791%3A0xd78c4fa1854213a6!2sIndia!5e0!3m2!1sen!2sin!4v1727253263679!5m2!1sen!2sin", width="600", height="450", style="border:0;", allowfullscreen="", loading="lazy", referrerpolicy="no-referrer-when-downgrade")