extends layout

block layout-content
  div.ThankYouView
    h1.ThankYouBanner Thank You for Your Order!
    
    //- Display the delivery details
    div.DeliveryDetails
      p Your order will be delivered to:
      p Address: #{address}
      p Estimated Delivery Date: #{estimatedDate}

    div.NavButtons
      a(href="/home")
        div.NavButton
          span Back to Home